# Tipos de datos

**Importar Librerias**

In [15]:
import pandas as pd
import numpy as np

**Tipo de Datos**

# Tipos de datos Basicos:

### -Enteros (in): <small>Representan números enteros. Ejemplo: `edad = 37`</small>
### -Flotantes (float): <small>Representan números decimales. Ejemplo: `altura = 1.75`</small>
### -Cadenas (srt): <small>Representan texto. Ejemplo: `nombre = 'Lubin'`</small>

In [37]:
edad = 37

In [39]:
type(edad)

int

In [43]:
altura = 1.64

In [45]:
type(altura)

float

In [47]:
nombre= 'Lubin'

In [49]:
type(nombre)

str

**Crear un dataFrame a partir de una lista de diccionarios**

In [53]:
# Lista de diccionarios con datos de personas

datos_personas = [
    {'nombre': 'Lubin', 'Edad': 37, 'Ciudad':'Quibdó'},
    {'nombre': 'Samir', 'Edad': 36, 'Ciudad':'Bogotá'},
    {'nombre': 'Elvira', 'Edad': 35, 'Ciudad':'Bogotá'},
    {'nombre': 'Alex', 'Edad': 40, 'Ciudad':'Medellin'},
    {'nombre': 'Julian', 'Edad': 38, 'Ciudad':'Ibague'},
    {'nombre': 'Albaro', 'Edad': 52, 'Ciudad':'Tolima'},
]

# Crear un dataFrame a partir de la lista de diccionarios
df_personas = pd.DataFrame(datos_personas)

#Mostrar el DataFrame
df_personas

   nombre  Edad    Ciudad
0   Lubin    37    Quibdó
1   Samir    36    Bogotá
2  Elvira    35    Bogotá
3    Alex    40  Medellin
4  Julian    38    Ibague
5  Albaro    52    Tolima

**Tipos de Datos Booleanos:**

**Bool**: Representa Valores de verdad, 'True' o 'False'. Ejemplo: 'es_mayor_de_edad= True'

In [63]:
tienes_moto = True

In [67]:
type(tienes_moto)

bool

In [75]:
x= 3
y= 5

# comprobando si la suma entre x + y = 8, (True o False)

respuesta= x + y !=8

print(respuesta)

False

In [77]:
type(respuesta)

bool

# Librería NumPy para Datos Numéricos:

## Librería NumPy para datos Numéricos:**
## -Importar NumPy: 'import numpy as np'
## -Crear un array NumPy: 'edades = np.array([37,30,28,32])'
## -Realizar cálculos matemáticos: 'media=np.mean(edades)'

In [84]:
edades= np.array([37,30,28,32])

In [86]:
media = np.mean(edades)

In [88]:
print('Media de edades:', media)

Media de edades: 31.75

**Ejercicios Practicos**

*primer ejercicio - Lista*

In [ ]:
#Manipular una lista de nombres, magregar o eliminar elemntos:

In [92]:
#Lista de nombres inicial
nombres = ['Lubin', 'Liz', 'Edinson']

In [94]:
#Agregar un nuevo nombre al final de la lista 
nombres.append('Celmira')

In [96]:
#Mostrar la lista despúes de la adición
print('Lista despúes de agregar un nombre:', nombres)

Lista despúes de agregar un nombre: ['Lubin', 'Liz', 'Edinson', 'Celmira']

In [102]:
# Posiciones dentro de una lista, Python en las listas siempre arranca a contar desde 0
#Si quiero seleccionar a Liz deberia utilizar 1
nombres[1]

'Liz'

In [104]:
# Eliminar el segundo nombre de la lista
nombres.pop(1)

'Liz'

In [106]:
# Mostrar la lista después de la eliminación
print("Lista después de eliminar el segundo nombre:", nombres)

Lista después de eliminar el segundo nombre: ['Lubin', 'Edinson', 'Celmira']

## Segundo Ejercicio -Diccionarios

In [111]:
nombres.insert(2, 'mauricio')

In [113]:
nombres

['Lubin', 'Edinson', 'mauricio', 'Celmira']

In [122]:
## Utilizar un diccionario para representar información de un estudiante:**
# Datos del estudiante en un diccionario

estudiante= {
    'nombre': 'Liz',
    'edad': 6,
    'cursos':['Matemáticas','Español','Inglés'],
    'promedio': 4.2
}

#Mostrar la información del estudiante
print('Información del estudiante:')
print('nombre:', estudiante['nombre'])
print('edad:', estudiante['edad'])
print('cursos:', estudiante['cursos'])
print('promedio:', estudiante['promedio'])

Información del estudiante:
nombre: Liz
edad: 6
cursos: ['Matemáticas', 'Español', 'Inglés']
promedio: 4.2

In [124]:
estudiante['promedio']

4.2